<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._517LabLearnAndroid"
        tools:targetApi="31">
        <activity
            android:name=".Part10Activity"
            android:exported="false"
            android:label="App Widget Lab"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".Part11Activity"
            android:exported="false"
            android:label="Skeleton Lab"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".Part12Activity"
            android:exported="false"
            android:label="Overlays Lab"
            android:theme="@style/Theme._517LabLearnAndroid" />

        <receiver
            android:name=".SimpleWidgetReceiver"
            android:exported="true"
            android:label="517Lab Glance Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/simple_widget_info" />
        </receiver>

        <activity
            android:name=".Part9Activity"
            android:exported="false"
            android:label="Collapsing Lab"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".Part8Activity"
            android:exported="false"
            android:label="@string/title_activity_part8"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".Part7Activity"
            android:exported="false"
            android:label="@string/title_activity_part7"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".Part7DetailActivity"
            android:exported="false"
            android:label="Part 7 Detail"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".Part6Avtivity"
            android:exported="false"
            android:label="@string/title_activity_part6_avtivity"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".Part5Activity"
            android:exported="false"
            android:label="@string/title_activity_part5"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".Part4Activity"
            android:exported="false"
            android:label="@string/title_activity_part4"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".Part3Activity"
            android:exported="false"
            android:label="@string/title_activity_part3"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".Part2Activity"
            android:exported="false"
            android:label="@string/title_activity_part2"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".Part1Animationactivity"
            android:exported="false"
            android:label="@string/title_activity_part1_animationactivity"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".PokedexActivity"
            android:exported="false"
            android:label="@string/title_activity_pokedex"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".SharedPreferencesActivity"
            android:exported="false"
            android:label="@string/title_activity_shared_preferences"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".utils.SharedPreferences"
            android:exported="false"
            android:label="@string/title_activity_shared_preferences"
            android:theme="@style/Theme._517LabLearnAndroid"
            tools:ignore="MissingClass" />
        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme._517LabLearnAndroid">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:exported="false"
            android:label="@string/title_activity_list"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".MainActivity2"
            android:exported="true"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme._517LabLearnAndroid">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".RPGCardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme._517LabLearnAndroid">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".CameraActivity"
            android:exported="false"
            android:label="Camera &amp; Permission"
            android:theme="@style/Theme._517LabLearnAndroid" />
        <activity
            android:name=".SensorActivity"
            android:exported="false"
            android:label="Sensor &amp; MVVM"
            android:theme="@style/Theme._517LabLearnAndroid" />
    </application>

</manifest>